.*.swp
*.o
*.lo
*.la

/Makefile
/Makefile.in
/aclocal.m4
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/configure.in
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/stamp-h1
/xfce4-places-plugin-*.tar.*

/autom4te.cache/

/intltool-extract.in
/intltool-merge.in
/intltool-update.in

/panel-plugin/.deps/
/panel-plugin/.libs/
/panel-plugin/Makefile
/panel-plugin/Makefile.in
/panel-plugin/places.desktop
/panel-plugin/xfce4-places-plugin
/panel-plugin/xfce4-popup-places

/po/*.gmo
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/POTFILES
/po/.intltool-merge-cache
/po/stamp-it

compile
INSTALL
